*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/*-- NAVBAR --*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: lightskyblue;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span{
    color: yellow;
}

.nav-links {
    display: flex;
    gap: 30x;
}

.nav-links a{
    color: white;
    font-size: 16px;
    padding-bottom: 4px;
}

.nav-links a:hover,
.nav-links a.active {
    color: yellow;
    border-bottom: 2px solid yellow;
}